<html>

<head>
    <link rel="stylesheet" href="docs.css" type="text/css" media="all" />
    <script src="docs.js"></script>
</head>

<body>
    <div id="content">
        <div id="toc">
            <div>
                <div>
                    <h3 style="text-align: center; border-bottom: 1px #c5c5c5 solid; margin: 0px 5px 15px;">xml2docx</h2>
                    <%= tocText %>
                </div>
            </div>
        </div>
        <div id="text">
            <div id="text-content" style="margin: 0px auto; max-width: 900px;">
                <% for (let file in markdownTexts) { text=markdownTexts[file]; %>
                    <div class="page" id="<%- fileNameToId(file) %>">
                        <%= text %>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
</body>

</html>